*, *::before, *::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-size: 2.5vh;
}

body {
    font-family: sans-serif;
}

#container {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
    gap: 1rem;
}

main {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

